name: Swift

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: macos-latest  # Use the latest macOS runner

    steps:
    - uses: actions/checkout@v3  # Checkout your code

    - name: Clean Derived Data
      run: |
        rm -rf ~/Library/Developer/Xcode/DerivedData/*

    - name: Xcode Setup
      uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: '15.0'  # Set to the correct Xcode version

    - name: Clean Build Folder
      run: |
        xcodebuild clean -project QuizApp.xcodeproj -scheme QuizApp CODE_SIGNING_ALLOWED=No

    - name: Build
      run: |
        xcodebuild build -project QuizApp.xcodeproj -scheme QuizApp -sdk iphoneos CODE_SIGNING_ALLOWED=No -quiet

    - name: Run Unit Tests
      run: |
        xcodebuild test -project QuizApp.xcodeproj -scheme QuizAppUnitTests -sdk iphonesimulator -destination "platform=iOS Simulator,OS=17.2,name=iPhone 15 Pro" CODE_SIGNING_ALLOWED=No -quiet

      - name: Run UI Tests
      run: |
        xcodebuild test -project QuizApp.xcodeproj -scheme QuizAppUserInterfaceTests -sdk iphonesimulator -destination "platform=iOS Simulator,OS=17.2,name=iPhone 15 Pro" CODE_SIGNING_ALLOWED=No -quiet
