name: Swift

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: macos-latest  # Use the latest macOS runner

    steps:
    - uses: actions/checkout@v3  # Checkout your code

    - name: Xcode Setup
      uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: '14.1'  # Set to the correct Xcode version

    - name: Build
      run: |
        xcodebuild build -project QuizApp.xcodeproj -scheme QuizApp clean build -sdk iphoneos CODE_SIGNING_ALLOWED=No

    - name: Run unit tests
      run: |
        xcodebuild test -project QuizApp.xcodeproj -scheme QuizAppUnitTests clean build -sdk iphoneos -destination "platform=iOS Simulator,OS=16.1,name=iPhone 14 Pro Max" CODE_SIGNING_ALLOWED=No

    - name: Run UI tests (optional)
      run: |
        xcodebuild test -project QuizApp.xcodeproj -scheme QuizAppUserInterfaceTests clean build -sdk iphoneos -destination "platform=iOS Simulator,OS=16.1,name=iPhone 14 Pro Max" CODE_SIGNING_ALLOWED=No
