name: Swift

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v3 

    - name: Clear Cache
      run: |
        rm -rf ~/Library/Caches
        rm -rf ~/.cache
    
    - name: Xcode Setup
      uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: latest-stable

    - name: Clean Build Folder
      run: |
        xcodebuild clean -project QuizApp.xcodeproj -scheme QuizApp CODE_SIGNING_ALLOWED=No

    - name: Build
      run: |
        xcodebuild build -project QuizApp.xcodeproj -scheme QuizApp -sdk iphoneos CODE_SIGNING_ALLOWED=No -quiet

  unit_test:
    runs-on: macos-latest
    needs: build
    steps:
      - uses: actions/checkout@v3 
      - name: Run Unit Tests
        run: |
          xcodebuild test -project QuizApp.xcodeproj -scheme QuizAppUnitTests -sdk iphonesimulator -destination "platform=iOS Simulator,OS=17.2,name=iPhone 15 Pro" CODE_SIGNING_ALLOWED=No

  ui_test:
    runs-on: macos-latest
    needs: build
    steps:
       - uses: actions/checkout@v3 
       - name: Run UI Tests
         run: |
          xcodebuild test -project QuizApp.xcodeproj -scheme QuizAppUserInterfaceTests -sdk iphonesimulator -destination "platform=iOS Simulator,OS=17.2,name=iPhone 15 Pro" CODE_SIGNING_ALLOWED=No
